header{
    background-color: rgba(157, 157, 157, 0.478);
    padding: 20x;
    margin: 10px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #747474;
    text-decoration: underline;
}
     

.logo {
    width: 250px;
    left: 50px;
    position: auto;
}

.insta {
    width: 250px;
    left: 50px;
    position: auto;
    text-align: center;
}
.caixa {
    position: relative;
    width: 250px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 65px;
    right: 100;
}
#Cabelo {
    width: 250;
}
#Barba {
    width: 250;
}
#CabeloBarba{
    width: 250;
    
}
.produto {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}
.produto li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 30px 10px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produto li:hover {
    border-color: hwb(246 0% 0% / 0.664);
}

.produto  li:active {
    border-color: rgb(41, 53, 49);
}

.produto li:hover h2{
    font-size: 34px;
}

.produto h2 {
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao {
    font-size: 18px;
}
.produto-preco{
    font-size: 22px;
    font-weight:bold;
    margin-top: 50px;
}


footer {
    text-align: center;
    background-color: rgba(157, 157, 157, 0.478);
    padding: 40px 0;
}

footer img{
    width: 200px;
}

.copyright {
    color: #9500ff;
    font-size: 13px;
    margin: 20px 0 0;
}
main{
    width: 2000px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin:0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: #000000;
    color:#ffffff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.6 all;
    cursor: pointer;
}
.enviar:hover{
    background-color: #000000;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #7f7f7f;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}
.mapa {
    padding: 3em 0;
}

.mapa p {
    margin: 0 0 3em;
}

.video {
    width: 560px;
    margin: 3em auto;
}

.logos {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
    border-radius: center;
}
